.form-field {
  background-color: #f0f0f0;
  border: 1px solid #ddd;
  margin: 1rem 0.5rem;
  padding: 0.5rem;

  label {
    display: block;
    margin-bottom: 5px;
  }

  input,
  select {
    font-size: medium;
    width: 100%;
    margin-bottom: 5px;
    box-sizing: border-box;
  }

  .error-message {
    color: red;
    margin-bottom: 5px;
  }
}

@media (min-width: 768px) {
  .form-field {
    display: flex;

    label {
      width: 20%;
    }

    div:has(input, select) {
      width: 40%;
    }

    div:has(.error-message) {
      width: 40%;
      padding: 0 1rem;
    }
  }
}
