

  .form-field {
    display: flex;
    margin: 10px;

    label {
      width: 20%;
      padding: 0px 5px;
    }

    input, select {
      padding: 0px 5px;
      width: 20%;
      min-width: 200px;
    }

    .error-message {
      color: red;
      padding: 0px 10px;
    }
  }

